:root {
  font-size: 12px;
}

html {
  margin: 0;
  padding: 0;
  background: transparent;
}

body {
  overflow: hidden;
  background-color: #eeeef6;
  margin: 0;
}

#stage {
  width: 100%;
  height: 100%;
}
