:root {
  font-size: 12px;

  --walnut-brown: #59544b;
  --feldgrau: #3f4b3b;
  --tea-green: #c5edacff;
  --tea-green-2: #dbfeb8ff;
}

html {
  margin: 0;
  padding: 0;
  background: transparent;
}

body {
  overflow: hidden;
}

canvas {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 700px) {
}
